apiVersion: v2
name: kubeslice-controller
description: Kubernetes multi-cluster/cloud fleet management controller using Kubeslice
icon: https://avatars.githubusercontent.com/u/99859346?s=200&v=4
type: application
maintainers:
  - name: appscode
    email: support@appscode.com
keywords:
- multicloud
- multi cloud
- multitenant
- multitenancy
- multi tenant
- multi tenancy
- federated mesh
- federated clusters
- federated k8s
- federated kubernetes
- cluster sprawl
- sprawl
- namespace sprawl
- network policy
- overlay network
- mesh network
- security
- networking
- infrastructure
- application
kubeVersion: '>= 1.19.0-0'
home: https://github.com/kube-slice
version: v2025.8.31
appVersion: v1.10.0-ac